@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background: linear-gradient(
        135deg,
        #cfdcff 0%,
        #eef2ff 45%,
        #e7d4ff 100%
    );

    color:#000;
}

/* =========================================
NAVBAR
========================================= */

nav{
    background:#f8f9fc;

    padding:18px 30px;

    position:sticky;
    top:0;

    z-index:1000;

    backdrop-filter:blur(10px);

    display:flex;

    justify-content:space-between;

    align-items:center;

    border-radius:18px;

    opacity:.95;
}

/* LOGO */

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo img{
    width:65px;
    height:65px;

    object-fit:cover;

    border-radius:14px;

    transition:.3s;
}

.logo img:hover{
    transform:scale(1.05);
}

/* LINKS */

.nav-links{
    display:flex;
    align-items:center;

    list-style:none;

    gap:10px;
}

.nav-links li a{

    color:#394B7A;

    text-decoration:none;

    font-weight:bold;

    padding:10px 16px;

    border-radius:10px;

    transition:.3s;

    display:block;
}

.nav-links li a:hover{

    background:rgba(139,92,246,.18);

    backdrop-filter:blur(10px);

    color:#6D28D9;

    border:1px solid rgba(139,92,246,.3);
}

/* BOTÃO */

.menu-toggle{

    display:none;

    font-size:32px;

    cursor:pointer;

    color:#243b6b;
}

/* =========================================
MAIN
========================================= */

main{

    width: 100%;

    max-width: 1700px;

    margin: auto;

    padding: 80px 70px;
}

/* =========================================
HOME
========================================= */

.home-content{

    text-align:center;

    margin-bottom:90px;
}

.home-content h2{

    font-size:4.5rem;

    font-weight:800;

    line-height:1.2;

    margin-bottom:25px;

    background: linear-gradient(
        90deg,
        #1d4ed8,
        #7c3aed,
        #facc15
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.home-content p{

    max-width:850px;

    margin:auto;

    font-size:18px;

    line-height:1.9;

    color:#243B6B;

    font-weight:500;
}

/* =========================================
ÁLBUM
========================================= */

.album{

    margin-bottom: 90px;
}

/* TITULO */

.album-titulo{

    font-size: 2rem;

    color: #6D28D9;

    margin-bottom: 30px;

    text-align: left;
}

.album-box{

    width: 100%;

    margin-bottom: 120px;
}
/* =========================================
SEÇÃO DE CADA PROJETO
========================================= */

.album-section{

    width: 100%;
}

/* TITULO + TEXTO */

.album-info{

    margin-bottom: 28px;

    text-align: left;
}


.album-info p{

    font-size: 1rem;

    color:#6b7280;

    line-height: 1.7;

    max-width: 700px;
}

.tag-futebol{
    font-size: 2rem;
    background: linear-gradient(135deg, #418eec, #93c5fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tag-natal{
font-size: 2rem;
background: linear-gradient(135deg, #ee7684, #ca1c30);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tag-beleza{
    font-size: 2rem;
    background: linear-gradient(135deg, #ff70a6 0%, #ff97b7 100%); 
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tag-pascoa{
    font-size: 2rem;
    background: linear-gradient(135deg, #fac09e 0%, #f8ad67 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span{
    color:#243B6B;
font-weight: bold;
}


/* =========================================
CONTROLES
========================================= */

.slider-controls{

    display: flex;

    justify-content: right;

    align-items: center;

    margin-bottom: 22px;

}


/* =========================================
BOTÕES
========================================= */

.buttons{

    display: flex;

    gap: 14px;
}

.buttons button{

    width: 55px;
    height: 55px;

    border: none;

    border-radius: 18px;

    background: linear-gradient(
        135deg,
        #7C3AED,
        #9333EA
    );

    color: white;

    font-size: 24px;

    cursor: pointer;

    transition: .4s ease;

    box-shadow:
    0 10px 20px rgba(124,58,237,.28);
}

.buttons button:hover{

    transform: translateY(-5px);

    box-shadow:
    0 15px 28px rgba(124,58,237,.38);
}

/* =========================================
SCROLL HORIZONTAL
========================================= */

.scroll-galeria{

    display: flex;

    gap: 24px;

    overflow-x: auto;

    scroll-behavior: smooth;

    padding-bottom: 10px;

    scrollbar-width: none;
}

.scroll-galeria::-webkit-scrollbar{

    display: none;
}

/* =========================================
CARDS DAS FOTOS
========================================= */

.foto-card{

    min-width: 320px;

    height: 430px;

    border-radius: 28px;

    overflow: hidden;

    flex-shrink: 0;

    position: relative;

    transition: .45s ease;

    box-shadow:
    0 10px 25px rgba(0,0,0,.12);
}

.foto-card img{

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: .6s ease;
}

/* OVERLAY */

.foto-overlay{

    position: absolute;

    inset: 0;

    background: linear-gradient(
        to top,
        rgba(0,0,0,.75),
        rgba(0,0,0,.15),
        transparent
    );

    display: flex;

    align-items: flex-end;

    padding: 25px;

    opacity: 0;

    transition: .4s ease;
}

/* TEXTO */

.foto-overlay h4{

    color: white;

    font-size: 1.3rem;

    margin-bottom: 8px;
}

.foto-overlay p{

    color: #f3f3f3;

    line-height: 1.5;

    font-size: .95rem;
}

/* HOVER */

.foto-card:hover{

    transform:
    translateY(-10px)
    scale(1.03);
}

.foto-card:hover img{

    transform: scale(1.08);
}

.foto-card:hover .foto-overlay{

    opacity: 1;
}

/* =========================================
RESPONSIVO
========================================= */

@media(max-width:768px){

    .album-info{

        text-align: center;
    }

    .album-info h3{

        font-size: 1.6rem;
    }

    .slider-controls{

        flex-direction: column;

        gap: 20px;
    }

main{

        padding: 40px 20px;
    }

    .foto-card{

        min-width: 85%;

        height: 380px;
    }

}

/* =========================================
RESPONSIVO
========================================= */

@media(max-width: 1024px){

    .foto-card{

        min-width: 280px;

        height: 380px;
    }

    section h2{

        font-size: 3.5rem;
    }
}

@media(max-width: 768px){

    /* NAVBAR */

    nav{

        padding: 15px 20px;
    }

    .menu-toggle{

        display: block;
    }

    .nav-links{

        position: absolute;

        top: 90px;

        left: 0;

        width: 100%;

        background: linear-gradient(
        135deg,
        #EEF2FF 0%,
        #DDD6FE 40%,
        #C4B5FD 100%
        );

        backdrop-filter: blur(10px);

        border-radius: 0 0 20px 20px;

        flex-direction: column;

        align-items: center;

        overflow: hidden;

        max-height: 0;

        transition: .5s ease;
    }

    .nav-links.active{

        max-height: 500px;

        padding: 20px 0;
    }

    .nav-links li{

        width: 100%;

        text-align: center;
    }

    .nav-links li a{

        width: 100%;

        padding: 18px;
    }

    /* TITULO */

    section h2{

        font-size: 2.6rem;

        line-height: 1.2;
    }

    section p{

        font-size: 16px;

        padding: 0 10px;
    }

    /* CARDS */

    .scroll-galeria{

        gap: 18px;

        padding-bottom: 10px;
    }

    .foto-card{

        min-width: 85%;

        height: 340px;
    }

    /* CONTROLES */

    .slider-controls{

        gap: 18px;

        margin-top: 25px;
    }

    .buttons button{

        width: 52px;
        height: 52px;

        font-size: 20px;
    }

    /* REDES */

    .redes-sociais{

        width: 92%;

        padding: 30px 20px;
    }

    /* FOOTER */

    .footer-container{

        text-align: center;

        gap: 35px;
    }

    .logo{

        justify-content: center;
    }
}

@media(max-width: 480px){

    main{

        padding: 30px 15px;
    }

    section{

        margin-bottom: 50px;
    }

    section h2{

        font-size: 2.1rem;
    }

    section p{

        font-size: 15px;
    }

    .foto-card{

        min-width: 92%;

        height: 300px;

        border-radius: 22px;
    }

    .buttons{

        gap: 12px;
    }

    .buttons button{

        width: 48px;
        height: 48px;

        border-radius: 14px;

        font-size: 18px;
    }


    .redes-sociais{

        width: 95%;
    }

    .footer-box h3{

        font-size: 22px;
    }

    .footer-box p,
    .footer-box a{

        font-size: 15px;
    }
}

/* =========================================
REDES SOCIAIS
========================================= */

.redes-sociais{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:14px;

    width:55%;

    margin:80px auto;

    padding:40px;

    border-radius:25px;

    text-align:center;

    align-items:center;

    border:2px solid #8B5CF6;

    background: rgba(255,255,255,.18);

    backdrop-filter:blur(10px);

    color:#243B6B;

    box-shadow:
    0 4px 15px rgba(139,92,246,.15);
}

.redes-sociais h2,
.redes-sociais p{
    width:100%;
}

.redes-sociais h2{

    font-size:2rem;

    color:#6D28D9;
}

.redes-sociais p{

    line-height:1.8;
}

.redes-sociais a{

    text-decoration:none;

    padding:14px 20px;

    border-radius:16px;

    background:rgba(255,255,255,.15);

    transition:.3s;

    color:#8B5CF6;

    border:2px solid #8B5CF6;

    font-weight:600;
}

.redes-sociais a:hover{

    background:rgba(139,92,246,.08);

    border-color:#7C3AED;

    color:#7C3AED;

    transform:translateY(-3px);
}

/* =========================================
FOOTER
========================================= */

footer{

    background:#6257B8;

    color:#fafafa;

    margin-top:80px;

    padding-top:40px;
}

.footer-container{

    max-width:1200px;

    margin:auto;

    padding:70px 30px;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:50px;
}

.footer-box p{

    color:#fafafa;

    line-height:1.8;

    font-size:17px;
}

.footer-box h3{

    margin-bottom:25px;

    font-size:24px;

    color:#fff;
}

.footer-box a{

    display:block;

    color:#d8d8d8;

    text-decoration:none;

    margin-bottom:16px;

    transition:.3s;
}

.footer-box a:hover{

    color:white;

    transform:translateX(5px);
}

.footer-bottom{

    border-top:1px solid rgba(255,255,255,.2);

    text-align:center;

    padding:25px;

    color:#d8d8d8;
}

/* =========================================
RESPONSIVO
========================================= */

@media(max-width:768px){

    .menu-toggle{
        display:block;
    }

    .nav-links{

        position:absolute;

        top:90px;
        left:0;

        width:100%;

        background: linear-gradient(
            135deg,
            #EEF2FF 0%,
            #DDD6FE 40%,
            #C4B5FD 100%
        );

        backdrop-filter:blur(10px);

        border-radius:18px;

        flex-direction:column;

        align-items:center;

        gap:0;

        overflow:hidden;

        max-height:0;

        transition:.5s ease;
    }

    .nav-links.active{

        max-height:500px;

        padding:20px 0;
    }

    .nav-links li{

        width:100%;

        text-align:center;
    }

    .nav-links li a{

        width:100%;

        padding:18px;
    }

    .home-content h2{

        font-size:3rem;
    }

    .home-content p{

        font-size:16px;
    }

    .galeria-section{

        padding:24px;
    }

    .galeria-titulo{

        font-size:1.8rem;
    }

    .slider-controls{

        flex-direction:column;

        gap:18px;

        align-items:flex-start;
    }

    .foto-card{

        min-width:280px;

        height:390px;
    }

    .redes-sociais{

        width:90%;
    }

    .footer-container{

        text-align:center;
    }

    .logo{

        justify-content:center;
    }
}

@media(max-width:768px){
    .galeria{
        grid-template-columns: 1fr;
    }
}

/* =========================================
ANIMAÇÃO AO APARECER
========================================= */

.hidden{

    opacity: 0;

    transform:
    translateY(60px)
    scale(.95);

    transition:
    opacity .8s ease,
    transform .8s ease;
}

.show{

    opacity: 1;

    transform:
    translateY(0)
    scale(1);
}

.album-info.hidden{

    opacity: 0;

    transform:
    translateX(-60px);

    transition:
    opacity .8s ease,
    transform .8s ease;
}

.album-info.show{

    opacity: 1;

    transform: translateX(0);
}